.ava_container {
    display: flex;
    justify-content: center;
}
.avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.preloader {
    position: absolute;
    border-radius: 50%;
    top: 20%;
    left: 50%;
}