.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          "h h"
          "nav c";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: cornflowerblue;
}



