.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    padding: 10px;
}

.dialogs_items .active {
    color: gold;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}

.active {
    color: gold;
    font-weight: bold;
}

.sendMessage {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.textArea {
    margin: 5px;
    padding: 10px;
    width: 200px;
    background: #fff;
    border-radius: 15px;
    font-size: 18px;
    color: #8f8fa1;
}
